@media only screen and (max-width: 600px) {
    .Main, .NextPage {
        height: 50%;
        width: 100%;
        font-size: 15px;
        transform: scale(0.8);
    }
    button, a {
        transform: scale(0.9);
    }
  }

@font-face {
    font-family: Poppins;
    src: url("./Assets/Fonts/Poppins-Regular.ttf");
  }
  
  @font-face {
    font-family: Poppins-Bold;
    src: url("./Assets/Fonts/Poppins-Bold.ttf");
  }
  
  @font-face {
    font-family: Poppins-Bold2;
    src: url("./Assets/Fonts/Poppins-ExtraBold.ttf");
  }

* {
    transition: all 0.5s ease;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url("./Assets/Backgrounds/6.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Poppins;
}

h1 {
    position: absolute;
    top: 2px;
    color: white;
    font-family: Poppins-Bold;
    padding: 10px 20px;
}

h1:hover {
    color: black;
    background: white;
    transform: translateY(-15px);
    scale: 1.1;
    border-radius: 10px;
}

a, button {
    display: grid;
    place-items: center;
    width: 120px;
    height: 50px;
    text-decoration: none;
    color: white;
    background-color: rgb(0, 0, 0, 0.1);
    padding: 10px 15px;
    border-radius: 10px;
    text-align: center;
    border: none;
}


a:hover , button:hover{
    color: black;
    background: white;
    transform: scale(1.1);
    border-width: 2px;
}

.Main, .NextPage {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    height: 400px;
    width: 600px;
    background-color: rgb(255, 255, 255, 0.1);
    box-shadow: 0 5px 30px 5px rgb(0,0,0,0.5);
    padding: 10px 20px;
    border-radius: 10px;
    backdrop-filter: blur(20px);
}

#Themes {
    color: white;
    position: absolute;
    right: 30px;
    top: 15px;
    border: 1px solid;
    padding: 10px 20px;
    border-radius: 10px;
}

#Themes:hover {
    transform: scale(1.1);
    color: black;
    background: white;
}