body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("bg.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    border: 1px solid;
    height: 20%;
    background: rgb(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    border-radius: 15px;
}

.clock {
    font-family: monospace;
    font-size: 3rem;
}